<head>
    <title>Melovi</title>
    <link rel="shortcut icon" sizes="32x32" href="/favicon.ico?v=2">

    <!-- Basic Meta Tags -->
    <meta name="keywords" lang="en-us" content="music, regional, videos, tourdates, genres, playlists, radio"/>
    <meta name="keywords" lang="de" content="musik, regional, videos, tourdaten, genres, playlisten, radio"/>
	<meta name="description" lang="de" content="Melovi ist ein Radio mit Musik aus deiner Umgebung und Musikvideos von dir und allen anderen Hörern."/>
	<meta name="description" lang="en-us" content="Play Music from the immediate vicinity and create Musicvideos with your friends and all listeners over the world."/>
	<meta name="subject" content="Selbsterstellte Musikvideos">
	<meta name="copyright"content="Melovi">
	<meta name="language" content="de">
	<meta name="robots" content="index,follow" />
	<meta name="revised" content="Sunday, November 9th, 2014, 5:15 pm" />
	<meta name="abstract" content="">
	<meta name="topic" content="">
	<meta name="summary" content="">
	<meta name="Classification" content="musicstreaming, videocreation, communication, social network">
	<meta name="author" content="Marcel Giehler, Alex Junge">
	<meta name="url" content="http://www.melovi.de">
	<meta name="identifier-URL" content="http://www.melovi.de">
	<meta name="directory" content="submission">
	<meta name="category" content="">
	<meta name="coverage" content="Worldwide">
	<meta name="distribution" content="Global">
	<meta name="rating" content="General">
	<meta name="revisit-after" content="7 days">
	<meta http-equiv="Expires" content="0">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache">

	<!-- Open Graph Meta Tags -->
	<meta name="og:title" content="Melovi"/>
	<meta name="og:type" content="music.radio_station"/>
	<meta name="og:url" content="http://www.melovi.de"/>
	<meta name="og:image" content="/opengraph/melovi_logo.jpg"/>
	<meta name="og:site_name" content="Melovi"/>
	<meta name="og:description" content="Melovi ist ein Radio mit Musik aus deiner Umgebung und Musikvideos von dir und allen anderen Hörern."/>

	<meta name="fb:page_id" content="melovi.de" />

	<meta name="og:locality" content="Augsburg"/>
	<meta name="og:region" content="BY"/>
	<meta name="og:postal-code" content="82150"/>
	<meta name="og:country-name" content="Germany"/>

<!-- Video und Audio Vorschau	
    <meta property="og:video" content="http://example.com/awesome.swf" />
	<meta property="og:video:height" content="640" />
	<meta property="og:video:width" content="385" />
	<meta property="og:video:type" content="application/x-shockwave-flash" />
	<meta property="og:video" content="http://example.com/html5.mp4" />
	<meta property="og:video:type" content="video/mp4" />
	<meta property="og:video" content="http://example.com/fallback.vid" />
	<meta property="og:video:type" content="text/html" />

	<meta property="og:audio" content="http://example.com/amazing.mp3" />
	<meta property="og:audio:title" content="Amazing Song" />
	<meta property="og:audio:artist" content="Amazing Band" />
	<meta property="og:audio:album" content="Amazing Album" />
	<meta property="og:audio:type" content="application/mp3" /> 
-->

	<!-- Apple Meta Tags -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="Melovi">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="format-detection" content="telephone=no">
	<meta name= "viewport" content = "width = device-width">
	<link rel="apple-touch-icon" href="/apple/touch-icon-iphone.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/apple/touch-icon-ipad.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/apple/touch-icon-iphone4.png" />
	<link rel="apple-touch-startup-image" href="/apple/startup.png">
	<link rel="apple-touch-icon" type="image/png" href="/apple/apple-touch-icon.png" />

	<!-- Internet Explorer Meta Tags -->
	<meta http-equiv="Page-Enter" content="RevealTrans(Duration=2.0,Transition=2)" />
	<meta http-equiv="Page-Exit" content="RevealTrans(Duration=3.0,Transition=12)" />
	<meta name="mssmarttagspreventparsing" content="true">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta name="msapplication-starturl" content="http://melovi.de"/>
	<meta name="msapplication-navbutton-color" content="#FFFFFF"/>
	<meta name="application-name" content="Melovi"/>
	<meta name="msapplication-tooltip" content="Zeig was du hörst!"/>

	<!-- Tweet Meta Tag -->
	<meta name="tweetmeme-title" content="Melovi - Zeig was du hörst!" />



</head>
